{% extends 'base.html.twig' %}

{% block body %}
    <article>
<h2>{{ product.label }}</h2>
    <ul>
        <li>price : {{ product.price }}</li>
        <li>Stock : {{ product.stock }}</li>
        <li>Added : {{ product.dateAdd|date }}</li>
        <li>Category : {{ product.category.label }}</li>
    </ul>
        <p>{{ product.description }}</p>
    </article>

{% endblock %}

{% block title %}
Details article
{% endblock %}

